<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ember Demo</title>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />

</head>
<body>

<script type="text/x-handlebars">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="page-header">
                   <h1>Music Library</h1>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <ul class="nav nav-tabs">
                   <!--<li><a href="">Artists</a></li>
                   <li><a href="">Albums</a></li>
                   <li><a href="">Tracks</a></li>
-->
                   <!--<li>{{!#link-to 'artists'}}Artists{{!/link-to}}</li>
                   <li>{{!#link-to 'albums'}}Albums{{!/link-to}}</li>
                   <li>{{!#link-to 'tracks'}}Tracks{{!/link-to}}</li>-->

                   <li {{bind-attr class="isArtists:active"}}>{{#link-to 'artists'}}Artists{{/link-to}}</li>
                   <li {{bind-attr class="isAlbums:active"}}>{{#link-to 'albums'}}Albums{{/link-to}}</li>
                   <li {{bind-attr class="isTracks:active"}}>{{#link-to 'tracks'}}Tracks{{/link-to}}</li>
               </ul>
           </div>
       </div>
       {{outlet}}
    </div>

</script>

<script type="text/x-handlebars" data-template-name="index">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                Welcome to the music library.
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="artists">
    <div class="row">
        <!--<div class="col-md-12">
            Artists will go here
        </div>-->

        <div class="col-md-3">
            <!--<ul class="list-group">
                {{!#each}}
                    <li class="list-group-item">{{!name}}</li>
                {{!/each}}
            </ul>-->

            <div class="list-group">
                {{#each}}
                    {{#link-to 'artist' id class='list-group-item'}}{{name}}{{/link-to}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="artist">
    <div class="panel panel-default">
        <div class="panel-heading">Artist
            <small>
                <a {{action 'toggleEditMode'}}  {{bind-attr class=":pull-right inEditMode:hidden"}} >Edit</a>
            </small>
        </div>
        <div class="panel-body">
            {{#if inEditMode}}
                {{partial 'artist/editName'}}
            {{else}}
                {{name}}
            {{/if}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Genre</div>
        <div class="panel-body">
            {{genre}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Year Started</div>
        <div class="panel-body">
            {{startYear}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Albums</div>
        <div class="panel-body list-group">
            {{#each albums}}
                <div class="list-group-item">{{title}}</div>
            {{/each}}
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="albums">
    <div class="row">
        <div class="col-md-12">
            Albums will go here
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="tracks">
    <div class="row">
        <div class="col-md-12">
            Tracks will go here
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="artist/_editName">
    <div class="input-group">
        {{input value=name class="form-control"}}
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" {{action 'toggleEditMode'}} >Ok</button>
        </span>
    </div>
</script>

<script src="js/vendor/jquery-2.1.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/handlebars-1.1.2.js"></script>
<script src="js/vendor/ember.js"></script>
<script src="js/vendor/ember-data.js"></script>
<script src="js/polyfill.js"></script>

<script src="js/app.js"></script>

</body>
</html>